body{
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #303030;
}

/* scrollbars */

body::-webkit-scrollbar {
    background-color:#303030;
    width:12px;
}

body::-webkit-scrollbar-track {
    background-color:transparent;
}
body::-webkit-scrollbar-track:hover {
    background-color:transparent;
}

body::-webkit-scrollbar-thumb {
    background-color:#222;
    border-radius:0;
    border:none;
}
body::-webkit-scrollbar-thumb:hover {
    background-color:#1e1e1e;
    border:none;
}

body::-webkit-scrollbar-button {display:none}

/* main */

#main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position:absolute;
    top:0;bottom:0;
    width:100%;
    height:100%;
    margin: auto;
}

#main * {
    box-sizing: border-box;
}

/* header bar */

#header_bar {
    height:33.3px;
    position: fixed;
    top:0;
    left:0;
    right:200px;
    background-color:#303030;
}

#crop_dimensions {
    display: block;
    position:absolute;
    right:0;
    top: 4px;
    bottom: 4px;
    margin:auto;
    width: 250px;
    font-size: 0;
    vertical-align: middle;
}

#crop_dimensions #crop_x,
#crop_dimensions #crop_y {
    width: 33%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    margin-right: 2%;
    float: left;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #4f4f4f;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

#btn_square_crop{
    position: absolute;
    width: 44px;
    height: 100%;
    right: 31px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#header_bar #btn_mirror_x {
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
    width:55px;
    height:80%;
}

.btn {
    background-color:#4f4f4f;
    cursor:pointer;
    border:solid 1px #a2a2a2;
    border-radius:5px;
    opacity:.6;
}

.mirror-x #btn_mirror_x,
.square-crop #btn_square_crop {
    background-color:#0036b1;
    opacity:1;
}

.btn:hover {
    opacity:.9;
}

.btn svg {
    display:block;
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    margin:auto;
    height:80%;
    transform: rotate(90deg);
}

.btn path {
    fill:#fff;
}

/* mirror-x area */

#mirror_x_area {
    position:absolute;
    width:0;
    right:100%;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
}

.mirror-x #mirror_x_area {
    width:50%;
    right:50%;
}

/* crop area */

.crop .handle{
    position:absolute;
    margin:auto;
    background-color: #4e4eff;
}

.left_crop .handle,
.right_crop .handle {
    top:0;
    bottom:0;
    width: 11px;
    cursor: ew-resize;
}

.left_crop .handle {
    right:0;
}

.right_crop .handle {
    left:0;
}

.top_crop .handle,
.bottom_crop .handle {
    right:0;
    left:0;
    height: 11px;
    cursor: ns-resize;
}

.top_crop .handle {
    bottom:0;
}

.bottom_crop .handle {
    top:0;
}

.left_crop,
.top_crop,
.right_crop,
.bottom_crop {
    background-color:blue;
    opacity:.1;
    position:absolute;
    margin:auto;
    z-index: 10;
}

.left_crop,
.right_crop{
    width: 11px;
}

.top_crop,
.bottom_crop{
     height: 11px;
}

.left_crop {
    left:0;
    top:0;
    bottom:0;
}
.top_crop {
    left:0;
    top:0;
    right:0;
   
}
.right_crop {
    right:0;
    top:0;
    bottom:0;
}
.bottom_crop {
    left:0;
    bottom:0;
    right:0;
}

/* SVG area */

#svg_area {
    background-color: #1e1e1e;
    position: fixed;
    left: 0;
    right: 200px;
    top: 33.3px;
    bottom: 0;
    display:block;
    margin: auto;
    box-sizing: border-box;
}

.mirror-x #svg_area:before {
    content:'';
    display:none;
    width: 1px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background-color:#0036b1;
    z-index: 0;
}

.mirror-x #svg_area:before {
    display:block;
}

#svg_area svg#draw_svg,
#svg_area svg#mirror_x_svg {
    display:block;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

.mirror-x #svg_area svg#draw_svg {
    width: 50%;
    left: 50%;
}

#svg_area svg#draw_svg circle {
    fill: #ffd079;
    r:5;
}

#svg_area svg#draw_svg circle:hover {
    fill: #f1f1f1;
}

#svg_area svg#draw_svg circle,
#svg_area svg#draw_svg polygon {
    cursor:crosshair;
}

#svg_area svg polygon {
    fill: #383838;
    stroke: #6d6d6d;
}

#svg_area svg#draw_svg g.selected polygon {
    stroke: #ffd079;
    stroke-width: 3;
}

#svg_area svg#draw_svg polygon:hover,
#svg_area svg#draw_svg g.selected polygon:hover {
    stroke: #f1f1f1;
}

/* layers area */

#layers_area {
    width: 200px;
    min-height:100%;
    padding: 6px;
    padding-top: 40px;
    color: #fff;
    box-sizing: border-box;
    position:relative;
}

#layers_area .title-bar {
    position: fixed;
    top:0;
    right:0;
    margin:auto;
    padding:6px;
    box-sizing:border-box;
    width: 200px;
    background-color: #4f4f4f;
    user-select: none;
}

#layers_area .draw-mode{
    display:block;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width: 33px;
    box-sizing:border-box;
    padding:6px;
}

#layers_area .draw-mode svg {
    display:none;
    width:100%;
    height:100%;
}

#layers_area .draw-mode svg.edit path {
    fill:white;
}

#layers_area .draw-mode svg.add path {
    fill:lime;
}

.edit-draw #layers_area .draw-mode svg.edit,
.add-draw #layers_area .draw-mode svg.add {
    display:block;
}

#layers_area .layer {
    padding: 6px;
    margin-bottom: 6px;
    box-sizing: border-box;
    background-color: #222;
    border: solid 1px transparent;
}

#layers_area .layer.selected {
    border:solid 1px #ffd079;
}

#layers_area .layer .name {
    display:block;
    margin-bottom:4px;
    width:100%;
    background-color:transparent;
    border:none;
    outline:none;
    color:#bfbfbf;
    font-size: 11px;
}

#layers_area .layer .hue {
    display:block;
    width:100%;
    height: 30px;
    background-color:#383838;
    border:solid 1px #303030;
    cursor:pointer;
}

#layers_area .layer .hue:hover{
    border:solid 1px #f1f1f1;
}

/* color slider */

#color-slider {
    position:fixed;
    top:0;
    left:0;
    background-color:#8e8c8c;
    padding:6px;
    border:solid 2px #c1c1c1;
    border-radius:5px;
    min-width:200px;
    min-height:70px;
    box-shadow:0 5px 5px rgba(0,0,0,.5);
    box-sizing:border-box;
    font-size:12px;
    font-weight:bold;
    display:none;
}

#color-slider.open {
    display:block;
}

#color-slider *:not(:last-child) {
    margin-bottom:6px;
}

#color-slider .slider{
    position:relative;
    width:100%;
    box-sizing:border-box;
    height:35px;
    border:solid 2px #1e1e1e;
    cursor:pointer;
    border-radius:5px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

#color-slider .slider * {
    box-sizing:border-box;
}

#color-slider .handle {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    width: 40px;
    cursor:grab;
}

#color-slider .handle .needle {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:1px;
    margin:auto;
    background-color:#ffd079;
}

#color-slider .handle:before {
    position:absolute;
    left:1;right:0;
    margin:auto;
    content:'';

    top:-5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #ffd079 transparent transparent transparent;
}

#color-slider .text{
    display: flex;
    line-height:22px;
    vertical-align:middle;
}

#color-slider .text .hex,
#color-slider .text input{
    flex: 50%;
}

#color-slider .text input {
    text-indent: 6px;
    font-weight:bold;
    font-size:14px;
    background-color:#c1c1c1;
    border:solid 2px #1e1e1e;
    outline:none;
    border-radius:5px;
}