body{
    margin: 0;
    background-color: #1e1e1e;
    /* background-color: #fff; */
}

div img{
    max-width:100%;
    display:block;
}

canvas {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}